## 네 번째,
## 라이브러리를 가져와 시가총액과 PER을 가져옵니다.

In [2]:
import pandas as pd
import numpy as np

In [7]:
# 가져올 라이브러리. 여기에 미국 종목의 각 정보가 있습니다. 
import FinanceDataReader as fdr
from pandas_datareader import data

In [15]:
# S&P500 종목의 기본 데이터를 가져옵니다.
df_spx = fdr.StockListing('S&P500')
df_spx.head()

,Symbol,Name,Sector,Industry
0,MMM,3M Company,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services

In [16]:
df_spx_ticker = list(df_spx.Symbol)
df_spx_ticker[:10]

['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP', 'AES']

### 아래와 같이 ticker와 필요 데이터를 선정해 입력합니다. 전 시가총액과 PER이 중요하기에 이것만 가져왔습니다.

In [17]:
lib_info = pd.DataFrame(columns = ['ticker','forwardPE','marketCap'])
data_list = list(data.get_quote_yahoo('ABBV')[['forwardPE','marketCap']])
lib_info = add_info.append({'ticker':'ABBV','forwardPE' : data_list[0], 'marketCap':data_list[1]}, ignore_index=True)
lib_info

   forwardPE  marketCap ticker
0  forwardPE  marketCap   ABBV

#### 웹 데이터를 가져오기 때문에 많은 변수가 있습니다.
#### 실행하는데 많은 시간이 소요되기 때문에 변수가 발생하더라도 오류가 아닌 다른 것으로 넘어갈 수 있도록
#### try문을 활용합니다.

In [22]:
lib_info = pd.DataFrame(columns = ['forwardPE','marketCap'])

for ticker in df_spx_ticker:
    try:
        lib_info = lib_info.append(data.get_quote_yahoo(ticker)[['forwardPE','marketCap']])
    except:
        lib_info = lib_info.append(pd.DataFrame({'forwardPE':0,'marketCap':0},index=[ticker]))

In [23]:
len(lib_info)

505

In [24]:
lib_info.head()

      forwardPE     marketCap
MMM   16.825672  101487566848
ABT   23.362950  219045953536
ABBV   8.413794  180859781120
ABMD  69.929720   15749467136
ACN   26.731491  160286998528

In [67]:
add_info.to_csv('0129rs&p500_add_info.csv')